<%- include('partials/header', { title: 'Dashboard' }) %>

 <section class="Main-Section">

  <h1>Hi <%= name %> !</h1>

  <div class="Main-Dashboard-Content">
   <p>
    This is your dashboard!
   </p>
   <form action="/logout" method="POST">

    <div>
     <button type="submit">Logout</button>
    </div>

   </form>
  </div>



 </section>

 <%- include('partials/footer') %>