<%- include('partials/header', { title: 'Login' }) %>

 <section class="Main-Section">

  <div class="Main-Form-Container">

   <h1>Login</h1>
   <br>
   <br>
   <p>Welcome back!</p>
   <br>
   <br>

   <form action="/login" method="POST">

    <div>
     <label for="email"><b>Email *</b></label>
     <input type="text" placeholder="Enter Email" name="email" required>
    </div>

    <div>
     <label for="password"><b>Password *</b></label>
     <input type="password" placeholder="Enter Password" name="password" required>
    </div>

    <div>
     <label class="Main-Form-Checkbox">
      <input type="checkbox" checked="checked" name="remember">
      Remember me
     </label>
    </div>

    <div>
     <button type="submit">Login</button>
    </div>

   </form>

   <br>
   <br>
   <p>Don't have an account? <a href="/signup">Signup</a></p>

  </div>

 </section>

 <%- include('partials/footer') %>