<%- include('partials/header', { title: 'Login' }) %>

 <section class="Main-Section">

  <div class="Main-Form-Container">

   <h1>Login</h1>
   <br>
   <br>
   <p>Welcome back!</p>
   <br>
   <br>

   <form action="/login" method="POST">

    <% if (error) { %>
     <div class="Main-Form-Error">
      <div>
       <p class="Main-Form-Error-Exclamation">!</p>
      </div>
      <div class="Main-Form-Error-Warning">
       <p><i><b>Error warning</b> </i></p>
       <p>
        <%= error %>
       </p>
      </div>
     </div>
     <% } %>

      <div>
       <label for="email"><b>Email *</b></label>
       <input minlength="3" maxlength="320" name="email" placeholder="Enter Email" required type="text">
      </div>

      <div>
       <label for="password"><b>Password *</b></label>
       <input minlength="8" maxlength="60" name="password" placeholder="Enter Password" required type="password">
      </div>

      <div>
       <label class="Main-Form-Checkbox">
        <input checked="checked" name="remember" type="checkbox">
        Remember me
       </label>
      </div>

      <div>
       <button type="submit">Login</button>
      </div>

   </form>

   <br>
   <br>
   <p>Don't have an account? <a href="/signup">Signup</a></p>

  </div>

 </section>

 <%- include('partials/footer') %>